
@media (max-width: 991px) {
    #header #menu li:not(.fa) {
        display: none;
    }
    .admin-bar.mean-container #menu-product-menu {
        top: 88px;
    }
    .admin-bar .mean-container .mean-bar .meanclose {
        top: 88px;
    }
    .mean-container.mean-lock {
        overflow: hidden;
    }
    .mean-container #menu-product-menu {
        position: fixed;
        max-width: 90%;
        width: 300px;
        left: 0;
        bottom: 0;
        background: #fff;
        display: block;
        margin: 0;
        padding: 15px;
        list-style: none;
        z-index: 3;
        overflow: auto;
        line-height: 1.7;
        top: 56px;
        /* box-shadow: 14px 0 18px -18px #bbb; */
    }
    .mean-container .mean-bar .meanmenu-reveal {
        background: rgba(0, 0, 0, 0);
        transition: 0.3s background .2s;
    }
    .mean-container .mean-bar .meanmenu-reveal.meanclose {
        top: 56px;
        position: fixed;
        left: 0 !important;
        right: 0 !important;
        bottom: 0;
        display: block;
        z-index: 3;
        background: rgba(0, 0, 0, .3);
    }
    .mean-container #menu-product-menu .menu-item {
        display: flex;
        flex-wrap: wrap;
    }
    .mean-container #menu-product-menu .menu-item .mean-expand {
        padding: 0 5px;
        display: block;
        text-decoration: none;
    }
    .mean-container #menu-product-menu .menu-item .sub-menu {
        order: 2;
        width: 100%;
        list-style: none;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }
    
    .feature-section .feature-item-wrap:nth-of-type(2n) ~ .feature-item-wrap,
    .why-us-section .feature-item-wrap:nth-of-type(2n) ~ .feature-item-wrap {
        margin-top: 1.5rem;
    }
    .page-image .page_head h1{
        max-width: 75%;
    }
}
@media (max-width: 767px) {
    .admin-bar .mean-container .mean-bar .meanclose {
        top: 101px;
    }

    .slider-wrapper .caption-wrapper {
        width: 80vw;
    }
    .slider-wrapper .caption-wrapper h2 {
        font-size: 28px;
    }

    .about-section-wrapper .about-section {
        flex-wrap: wrap;
    }
    .about-section-wrapper .about-section > * {
        width: 100%;
    }

    .about-section-wrapper .about-section .about-slider {
        margin-top: 2rem !important;
        padding-top: 2rem;
        border-top-width: 2px;
    }
    .packaging-section .gallery.gallery-columns-1 .gallery-item ~ .gallery-item,
    .packaging-section .gallery.gallery-columns-2 .gallery-item:nth-of-type(2n) ~ .gallery-item,
    .packaging-section .gallery.gallery-columns-3 .gallery-item:nth-of-type(3n) ~ .gallery-item,
    .packaging-section .gallery.gallery-columns-4 .gallery-item:nth-of-type(2n) ~ .gallery-item,
    .packaging-section .gallery.gallery-columns-5 .gallery-item:nth-of-type(3n) ~ .gallery-item,
    .packaging-section .gallery.gallery-columns-6 .gallery-item:nth-of-type(3n) ~ .gallery-item {
        margin-top: 1.5rem !important;
    }
    .page-image .page_head h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 450px) {
    .slider-wrapper .caption-wrapper h2 {
        font-size: 18px;
    }
    .feature-section .feature-item-wrap,
    .why-us-section .feature-item-wrap {
        float: none;
        width: 100%;
    }
    .feature-section .feature-item-wrap ~ .feature-item-wrap,
    .why-us-section .feature-item-wrap ~ .feature-item-wrap {
        margin-top: 1.5rem;
    }
    .applications-section .gallery:not(.gallery-columns-1) .gallery-item,
    .packaging-section .gallery:not(.gallery-columns-1) .gallery-item {
        width: 50% !important;
    }
    .applications-section .gallery .gallery-item:nth-of-type(2n) ~ .gallery-item,
    .packaging-section .gallery .gallery-item:nth-of-type(2n) ~ .gallery-item {
        margin-top: 1.5rem !important;
    }
    .page-image .page_head h1{
        max-width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    span.rightarrowclass:after {
        content: '\f061';
        font-family: 'FontAwesome';
        padding-left: 5px;
        font-size: 11px;
    }
}


@media (min-width: 768px) {
    #menu li a {
        text-transform: uppercase;
    }
    #menu li.current-menu-item a {
        position: relative;
    }
    #menu li.current-menu-item a:after {
        position: absolute;
        top: 100%;
        left: 1rem;
        right: 1rem;
        content: '';
        display: block;
        border-top: 1px solid #fff;
    }
    #menu li.current-menu-item.fa a:after {
        left: 0.5rem;
        right: 0.5rem;
    }
    #menu li.current-menu-item a:hover {
        text-decoration:none;
    }

    .slider-wrapper .caption-wrapper {
        width: 60vw;
    }

    .about-section-wrapper .about-section .about-slider {
        border-left-width: 2px;
    }
}
@media (min-width: 992px) {
    #header #menu li.meanmenu-reveal {
        display: none;
    }
}

@media (max-width: 782px) {
    .admin-bar.mean-container #menu-product-menu {
        top: 101px;
    }
    .admin-bar #header-wrapper {
        top: 46px;
    }
}

@media (max-width: 1199px) {
    #menu-product-menu {
        width: 100%;
    }
}
@media (max-width: 600px) {
    html[lang] { margin-top: 0 !important; }
    #wpadminbar {
        display: none;
    }
    .admin-bar #header-wrapper {
        top: 0;
    }
    .admin-bar.mean-container #menu-product-menu {
        top: 56px;
    }
}